<!--Table bar-->
<div class="w3-row" style="border-bottom: 1px solid #393939; padding-top: 2%; ">
	<div class="w3-col s3 w3-center">
		<p>Player</p>
	</div>
	<div class="w3-col s4 w3-center">  
		<p>Name</p>
	</div>
	<div class="w3-col s3 w3-center">  
		<p>Position</p>
	</div>
	<div class="w3-col s2 w3-center">  
		<p>Number</p>
	</div>
</div>

<!--Actual Player List-->
 <%_.each(allPlayers, function (player) {%>
<a>
	<div class="w3-row" style="border-bottom: 1px solid #393939; padding-top: 2%;">
		<div class="w3-col s3 w3-center">
			<p><img src="<%=player.avatar%>" width="50%"></p>
		</div>
		<div class="w3-col s4 w3-center" >
			<p style="color: white; font-size: 15px; padding-top: 8%;"><%=player.name%></p>
		</div>
		<div class="w3-col s3 w3-center">
			<p style="color: white; font-size: 15px; padding-top: 12%;"><%=player.position%></p>
		</div>
		<div class="w3-col s2 w3-center">
			<p style="color: white; font-size: 15px; padding-top: 16%;"><%=player.number%></p>
		</div>
	</div>
</a>
<%});%>