.mui-btn {
    /*font-family: "simple";
    letter-spacing: 6px;*/
   	font-family: arial;
   	font-weight: bold;
}

.lanting {
    /*font-family: "lanting";
    letter-spacing: 2px;*/
   font-family: arial;
}

.simple {
    /*font-family: "simple";
    letter-spacing: 2px;*/
   	font-family: arial;
}

.fieldSchedule_timebox{
	border-radius: 7px;
	width: 94%;
	height: 30px;
    margin-left: 3%;
    margin-top: 4px;
    background-color: rgb(255, 255, 255);
}

.checked_time {
    background-color: #EFBD1B;
}

.empty_time {
    background-color: white;
}

.book_time {
    background-color: rgb(50, 50, 50);
}
