.login_username {
    border: none;
    height: 40px;
    background: rgba(0, 0, 0, 0.4) url(../../resource/login/user.png) no-repeat 10px center;
    background-size: 20px;
    text-align: center;
}

.login_username input {
    border: none;
    background: none;
    inline-height: 30px;
    text-indent: 0px;
    padding-left: 40px;
    color: white;
    font-family: "simple";
    letter-spacing: 6px;
}

.login_password {
    border: none;
    height: 40px;
    background: rgba(0, 0, 0, 0.4) url(../../resource/login/password.png) no-repeat 10px center;
    background-size: 16px;
}

.login_password input {
    float: left;
    border: none;
    background: none;
    height: 40px;
    inline-height: 30px;
    text-indent: 0px;
    padding-left: 40px;
    color: white;
    font-family: "simple";
    letter-spacing: 6px;
}

.mui-btn {
    font-family: "simple";
    letter-spacing: 6px;
}

.lanting {
    font-family: "lanting";
    letter-spacing: 2px;
}

.simple {
    font-family: "simple";
    letter-spacing: 2px;
}

.fieldSchedule_timebox{
	border-radius: 7px;
	width: 94%;
	height: 30px;
    margin-left: 3%;
    margin-top: 4px;
    background-color: rgb(255, 255, 255);
}

.checked_time {
    background-color: #EFBD1B;
}

.empty_time {
    background-color: white;
}

.book_time {
    background-color: rgb(50, 50, 50);
}
